@import "../node_modules/bulma/sass/utilities/initial-variables"

/* palette */
$color1: rgba(0, 56, 109, 1)
$color2: rgba(66, 182, 186, 1)
$color3: rgba(103, 234, 223, 1)
$color4: rgba(216, 132, 255, 1)
$color5: rgba(250, 1, 109, 1)

/* palette-variants */
$color1light: lighten($color1, 30)
$color1invert: invert($color1)
$color2light: lighten($color2, 30)
$color2invert: invert($color2)
$color3light: lighten($color3, 30)
$color3invert: invert($color3)
$color4light: lighten($color4, 30)
$color4invert: invert($color4)
$color5light: lighten($color5, 30)
$color5invert: invert($color5)

$neutral: #fff
$inverted: $color3light

// Use system default fonts
$family-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"

// 3. Set the derived variables
$primary: $color1
$primary-invert: $color1invert
$family-primary: $family-serif

@import "../node_modules/bulma/bulma"

.versionBadge
  span
    padding: .25rem
    font-size: .75rem

  .version
    border-radius: .25rem 0 0 .25rem
    background: $color1light
    color: $neutral
    font-weight: bold

  .date
    color: $color1light
    border-radius: 0 .25rem .25rem 0
    background: $neutral


label.radio.is-medium
  font-size: 1.25rem

input[type=radio].radio.is-medium
  font-size: 1.25rem
  width: 1.25rem
  height: 1.25rem

input[type=range].range.is-medium
  height: 1.25rem
  width: 100%

.avatar img
  border-radius: 50%

section.section.bg-neutral
  background-color: $neutral

section.section.bg-inverted
  background-color: $inverted

svg.separator
  display: block

  path.inverted
    fill: $inverted

  path.neutral
    fill: $neutral

img.section-icon
  width: 100%
  max-width: 10em
  max-height: 10em

.content h1.title
  color: $primary
  font-weight: bold

.title::after
  content: ''
  display: block
  width: 2em
  height: 4px
  left: 0
  margin: 1em 0 0 0
  background: $primary

#menu
  .navbar-item
    color: $color1
    font-weight: bold

#hero::before
  background-image: linear-gradient(to bottom right, rgba(0, 56, 109, .7) 35%, #2175bc 95%)
  z-index: 1
  content: ''
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
  background-size: cover
  box-sizing: inherit
  width: 100%
  height: 100%
  -webkit-font-smoothing: antialiased

#hero.notfound::before
  background-image: linear-gradient(to bottom right, rgba(250, 250, 250, .7) 35%, #2175bc 95%)

#hero
  background-size: cover
  position: relative

  strong
    color: rgb(255, 221, 87)

  .hero-body
    z-index: 10
    position: relative

  .logo
    maxWidth: 600px
    width: 100%

  .main-text
    color: #fff
    &.notfound
      color: #000
    &.closing
      color: #000
      font-weight: bold
      padding: 1.25em

@import "../node_modules/aos/dist/aos.css"
